<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Welcome to Cebu</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    
   
</head>
<body>

    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message:</strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
    {% endfor %}

    <h3>Welcome to Cebu Tourist Guide Web</h3>
   

    <div class="wrapper">
        <div class="form-box register">
                <h2>Sign up</h2><br>
                <form action="/signup" method="post">
                    {% csrf_token %}
                <div class="input-box">
                        <span class="icon"><ion-icon name="person"></ion-icon></span>
                        <input type="text" class="form-control" id="firstname
                        " name="firstname" placeholder="Enter your first name" required>
                        <label for="email">Firstname</label>
                    </div>
                <div class="input-box">
                        <span class="icon"><ion-icon name="person"></ion-icon></span>
                        <input type="text" class="form-control" id="lastname
                        " name="lastname" placeholder="Enter your Last name " required>
                        <label for="email">Lastname</label>
                    </div>
                    <div class="input-box">
                        <span class="icon"><ion-icon name="mail"></ion-icon></span>
                        <input type="text" class="form-control" id="email
                        " name="email" placeholder="Enter valid Email" required>
                        <label for="email">Email</label>
                    </div>
                    <div class="input-box">
                        <span class="icon"><ion-icon name="person"></ion-icon></span>
                        <input type="user_name" class="form-control" id="user_name" name="user_name" placeholder="Create a username (only letters and numbers)" required>
                        <label for="user_name">Username</label>
                    </div>
                    <div class="input-box">
                        <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
                        <label>Password</label>
                        
                    </div>
                    <div class="remember-forgot">
                        <label><input type="checkbox">I agree to the terms & conditions</label>
                       
                    </div>
                    <button type="submit" class="btn">Register</button>
                    <div class="login-register" name="register">
                        <p>Already have an account? <a href="/signin" class="login-link">Login</a></p>
                    </div>
                </form>
            </div>
        </div>




</body>
</html>